
/*temp
div
{
	border:2px red solid;
}
header, footer, section, nav
{
	border:4px blue solid;
}
h1, h2, h3, h4, h5, h6, #Georges
{
	border:3px green solid;
}*/


/*polices */

@font-face {
    font-family: 'ambleregular';
    src: url('polices/Amble-Regular-webfont.eot');
    src: url('polices/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Amble-Regular-webfont.woff') format('woff'),
         url('polices/Amble-Regular-webfont.ttf') format('truetype'),
         url('polices/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'philosopherregular';
    src: url('polices/Philosopher-Regular-webfont.eot');
    src: url('polices/Philosopher-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Philosopher-Regular-webfont.woff') format('woff'),
         url('polices/Philosopher-Regular-webfont.ttf') format('truetype'),
         url('polices/Philosopher-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'philosopherbold';
    src: url('polices/Philosopher-Bold-webfont.eot');
    src: url('polices/Philosopher-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Philosopher-Bold-webfont.woff') format('woff'),
         url('polices/Philosopher-Bold-webfont.ttf') format('truetype'),
         url('polices/Philosopher-Bold-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'folks-lightregular';
    src: url('polices/Folks-Light-webfont.eot');
    src: url('polices/Folks-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Folks-Light-webfont.woff') format('woff'),
         url('polices/Folks-Light-webfont.ttf') format('truetype'),
         url('polices/Folks-Light-webfont.svg#folks-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'folksbold';
    src: url('polices/Folks-Bold-webfont.eot');
    src: url('polices/Folks-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Folks-Bold-webfont.woff') format('woff'),
         url('polices/Folks-Bold-webfont.ttf') format('truetype'),
         url('polices/Folks-Bold-webfont.svg#folksbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'candela_bold';
    src: url('polices/CandelaBold-webfont.eot');
    src: url('polices/CandelaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/CandelaBold-webfont.woff') format('woff'),
         url('polices/CandelaBold-webfont.ttf') format('truetype'),
         url('polices/CandelaBold-webfont.svg#candela_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* géné */
*
{
	/*font-family: 'ambleregular', georgia, verdana;*/
	/*font-family: 'philosopherregular', georgia, verdana;*/
	font-family:'folks-lightregular', georgia, verdana;

}
body
{
	margin:0;
}
#total
{
	width:100%;
	max-width:900px;
	margin:auto;
	padding-top: 15px;
	background-color: #FFFFFF;
}
header
{
	background-color: #FFFFFF;
	width: 100%;
	height:auto;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	margin-top: 20px;
}
h1
{
	font-family: 'candela_bold' ,georgia, verdana;
	text-transform: uppercase;
	font-size: 2.3em;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: flex-start;
}
h2
{
	text-align: center;
}
sup
{
	text-transform: lowercase;
}
#Georges
{
	margin-bottom: 30px;
}
footer
{
	background-color: #FFFFFF;
	width: 100%;
	height:auto;
	padding: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 25px;
}
#sous_footer
{
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
h6
{
	width: 300px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.1em;
	text-align: center;
}

a
{
	color:#7F7D7B;
	text-decoration: none;
}

a:hover
{
	color:#7F7D7B;
	text-decoration: underline;
}
.last_a
{
	color:#000;
	text-decoration: none;
	font-family: 'candela_bold',georgia, verdana;
	font-size: 1.15em;
}
.last_a:hover
{
	color:#000;
	text-decoration: underline;
	font-family: 'candela_bold',georgia, verdana;
	font-size: 1.15em;
}


/* responsive */

img
{
	max-width: 100%;
	height:auto;
	transform: scale(1);
	transition: .2s ease-in-out;
}
img:hover
{
	transform: scale(1.05);
}

#Photo_Georges:hover
{
	transform: scale(1);
}


.séparateur
{
	max-width: 100%;
	height:auto;	
}

/* contenu */

h1
{
	text-align:center;
	margin:auto;
}
.underline
{
	text-decoration: underline;
}

h2
{
	margin-top: -5px;
	text-align:center;
	margin:auto;
	font-size: 1.5em;/*
	padding-right: 15px;*/
	padding-bottom: 15px;
}
nav
{
	display: flex;

}
ul
{
	width:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	margin-right:0px;
	padding:0px;
}

li
{
	display:flex;
	flex-direction: column;
	margin:auto;

}

.text_nav, .lien_nav, .text_vu_par, .text_poésie
{
	text-align:center;
	text-decoration:none;

}
.text_nav
{
	font-size: 1.2em;
}

.séparateur
{
	height: 5px;
	width:800px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	background-color:black;
}

.titre_section
{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	height: 50px;
	margin-bottom: 25px;
}
h3
{
	/*padding-top: auto;
	padding-bottom: auto;*/
	margin-top: auto;
	margin-bottom: auto;
	font-size:1.5em;
}
.sous_section
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
h4
{
	text-align:center;
}
.ligne
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.poésie
{
	width: 230px;
	height: 200px;
}
.poème
{
	text-align:center;
	font-size:0.9em;
	margin:auto;
	margin-top:25px;
	font-size: 1.05em;
}

#sous_vie
{
	display:flex;
	flex-direction: column;
}
.pan_vie
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 35px;
	flex-wrap: wrap;
}
.image_vie
{
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.image_vie_jpg
{
	margin:auto;
}
.text_vie
{
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 50px;
	padding-left: 50px;
}
.p_vie
{
	text-align: justify;
	margin-top: 50px;
	font-size: 1.2em;
}
.h5_vie
{
	margin-bottom: 50px;
	margin-right: 20px;
	margin-left: auto;
}


/* spécifique page peinture */
.titre_page_peinture
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 25px;
}
.section_vue_par
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
}
.img_vue_par
{
	margin:auto;
	padding-right: 25px;
}
.para_vue_par
{
	max-width: 550px;
	text-align: justify;
	padding-left: 25px;
}
.tableau
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.titre_tableau
{
	margin: auto;
	padding-bottom: 25px;
}
.tableau_itself
{
	margin: auto;
}
.poeme_tableau
{
	margin: auto;
	padding-top: 25px;
	font-size: 1.2em;
	text-align: center;
}
/* spécifique pages poésie */

.titre_page_peinture
{

}

/*.equi_page_poesie, .un_poeme, .titre_poeme, .poeme_itself, .illu_poeme, .legende_illu
{
	border: 10px red solid;
}*/

.equi_page_poesie
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.un_poeme
{
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
}
.titre_poeme
{
	width: 100%;
	text-align: center;
}
.poeme_itself
{
	width: 100%;
	text-align: center;
}
.illu_poeme
{
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
}
.illu_itself
{
	width: 100%;
}
.legende_illu
{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* spécifique pages vie */

.titre_page_vie
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* */
.section_vie
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.img_vie_main
{
	width: 100%;
}
.img_vie_main:hover
{
	transform: scale(1);
}
.para_vie
{
	text-align: justify;
	font-size: 1.2em;
}

/* */
.bloc_vie
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	height: 400px;
}
.img_vie
{
	width: 200px;
	height: auto;
}
.legende_bloc
{
	width: 200px;
	height: auto;
	text-align: center;
}